{% extends 'index.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block row %}
<div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ customer }}</h6>
            <div class="dropdown no-arrow">
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <p><strong> First Name </strong> : {{ customer.user.first_name }}</p>
            <p><strong> Last Name </strong> : {{ customer.user.last_name }}</p>
            <p><strong> Email Address </strong> : {{ customer.user.email }}</p>
            <p><strong> Date Joined </strong> : {{ customer.user.date_joined.date }}</p>
        </div>
    </div>
</div>
{% endblock %}