{% extends 'index.html' %}
{% load static %}

{% block title %}Details {% if selected_meter %} of {{ selected_meter }} {% endif %}{% endblock %}

{% block row %}
{% if selected_meter %}
<div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ selected_meter }}</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                     aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Display:</div>
                    <a class="dropdown-item" href="{% url 'meter:view_graph' selected_meter.pk %}">Graph</a>
                    <a class="dropdown-item" href="{% url 'meter:view_table' selected_meter.pk %}">Table</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'meter:view_detail' selected_meter.pk %}">Details</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <p><strong>Gas South Account Number</strong> : {{ selected_meter.gas_south_account_number }}</p>
            <p><strong>AGL Account Number</strong> : {{ selected_meter.ldc_account_number }}</p>
            <p><strong>Pool Group</strong> : {{ selected_meter.location }}</p>
            <p><strong>County</strong> : {{ selected_meter.county }}</p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}