{% extends 'index.html' %}
{% load static %}

{% block navigation_meters %}
{% include 'meter/includes/navigation_meters.html' with meters=meters %}
{% endblock %}

{% block title %}Graph{% endblock %}

{% block row %}
{% if selected_meter %}
<div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ selected_meter }}</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                     aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Display:</div>
                    <a class="dropdown-item" href="{% url 'meter:view_graph' selected_meter.pk %}">Graph</a>
                    <a class="dropdown-item" href="{% url 'meter:view_table' selected_meter.pk %}">Table</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'meter:view_detail' selected_meter.pk %}">Details</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
                <canvas id="myAreaChart"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- Pie Chart -->
<div class="col-xl-4 col-lg-5">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Monthly View</h6>
      <div class="dropdown no-arrow">
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <div class="chart-pie pt-4 pb-2">
        <canvas id="myBarChart"></canvas>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<!-- Line Chart Javascript-->
<script type="text/javascript">
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

    var ctx = document.getElementById('myAreaChart');
    var dates = JSON.parse('{{ graph_dates|safe }}');
    var dathm = JSON.parse('{{ graph_dathm|safe }}');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [
                {
                    data: dathm,
                    label: 'Dekatherms',
                    lineTension: 0.3,
                    backgroundColor: "rgba(231, 85, 37, 0.05)",
                    borderColor: "rgba(214, 26, 105, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(231, 85, 37, 1)",
                    pointBorderColor: "rgba(214, 26, 105, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(231, 85, 37, 1)",
                    pointHoverBorderColor: "rgba(214, 26, 105, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                }
            ],
          },
        options: {
          maintainAspectRatio: false,
          layout: {
            padding: {
              left: 10,
              right: 25,
              top: 15,
              bottom: 0
            }
          },
              }
          })

</script>

<!-- Bar Chart Javascript-->
<script type="text/javascript">
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

    var ctx = document.getElementById('myBarChart');
    var dates = JSON.parse('{{ monthly_dates|safe }}');
    var dathm = JSON.parse('{{ monthly_dathm|safe }}');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: dates,
            datasets: [
                {
                    data: dathm,
                    label: 'Dekatherms',
                    fill: false,
                    backgroundColor: "rgba(231, 85, 37, .05)",
                    borderColor: "rgba(214, 26, 105, 1)",
                    borderWidth: 3,
                }
            ],
        options: {
            scales: {
                xAxes: [{ stacked: true }],
            }
        }

  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 15,
        bottom: 0
      }
    },
        }
    })

</script>
<!--<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>-->
{% endblock %}