{% extends 'index.html' %}
{% load static %}

{% block navigation_meters %}
{% include 'meter/includes/navigation_meters.html' with meters=meters %}
{% endblock %}

{% block row %}
<div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ selected_meter }}</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                     aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Display:</div>
                    <a class="dropdown-item" href="{% url 'meter:view_graph' selected_meter.pk %}">Graph</a>
                    <a class="dropdown-item" href="#">Chart</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'meter:view_detail' selected_meter.pk %}">Details</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
                <canvas id="myAreaChart"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
{% endblock %}