{% extends 'index.html' %}
{% load static %}

{% block css %}
<link href="https://cdn.datatables.net/buttons/1.6.0/css/buttons.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block navigation_meters %}
{% include 'meter/includes/navigation_meters.html' with meters=meters %}
{% endblock %}

{% block title %}Table {% if selected_meter %} of {{ selected_meter }} {% endif %}{% endblock %}

{% block page_button %}
<a href="{% url 'meter:export' selected_meter.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
{% endblock %}

{% block row %}
{% if selected_meter %}
<div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ selected_meter }}</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                     aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Display:</div>
                    <a class="dropdown-item" href="{% url 'meter:view_graph' selected_meter.pk %}">Graph</a>
                    <a class="dropdown-item" href="{% url 'meter:view_table' selected_meter.pk %}">Table</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'meter:view_detail' selected_meter.pk %}">Details</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="table">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Day</th>
                        <th>Name</th>
                        <th>Burner Tip</th>
                        <th>City Gate</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for meter_read in meter_reads %}
                    <tr>
                        <td>{{ meter_read.start_date.year }}</td>
                        <td>{{ meter_read.start_date.month }} - {{ meter_read.start_date | date:'F' }}</td>
                        <td>{{ meter_read.start_date.day }}</td>
                        <td>{{ selected_meter }}</td>
                        <td>{{ meter_read.burner_tip_dekatherm }}</td>
                        <td>{{ meter_read.city_gate_dekatherm }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script type="text/javascript">
$(document).ready(function() {
  $('#dataTable').DataTable({
        response: true,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
<!--        "scrollY":        "200px",-->
<!--        "scrollCollapse": true,-->
<!--        "paging":         false-->
    });
});
</script>
{% endblock %}
