{% extends 'index.html' %}
{% load static %}

{% block navigation_meters %}
{% include 'meter/includes/navigation_meters.html' with meters=meters %}
{% endblock %}

{% block title %}Table {% if selected_meter %} of {{ selected_meter }} {% endif %}{% endblock %}

{% block row %}
{% if selected_meter %}
<div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ selected_meter }}</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                     aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Display:</div>
                    <a class="dropdown-item" href="{% url 'meter:view_graph' selected_meter.pk %}">Graph</a>
                    <a class="dropdown-item" href="{% url 'meter:view_table' selected_meter.pk %}">Table</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'meter:view_detail' selected_meter.pk %}">Details</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Burner Tip</th>
                        <th>City Gate</th>
                        <th>Date</th>
                        <th>Read Source</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Burner Tip</th>
                        <th>City Gate</th>
                        <th>Date</th>
                        <th>Read Source</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for meter_read in meter_reads %}
                    <tr>
                        <td>{{ selected_meter }}</td>
                        <td>{{ meter_read.burner_tip_dekatherm }}</td>
                        <td>{{ meter_read.city_gate_dekatherm }}</td>
                        <td>{{ meter_read.start_date }}</td>
                        <td>{{ meter_read.read_source }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>

<script type="text/javascript">


</script>
<!--<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>-->
{% endblock %}